@theme {
  /* black & white */
  --color-black: #000000;
  --color-white: #ffffff;

  /* gray scale */
  --color-gray-900: #262626;
  --color-gray-800: #434343;
  --color-gray-700: #555555;
  --color-gray-600: #7b7b7b;
  --color-gray-500: #9d9d9d;
  --color-gray-400: #c4c4c4;
  --color-gray-300: #d9d9d9;
  --color-gray-200: #e9e9e9;
  --color-gray-100: #f5f5f5;
  --color-gray-80: #c8c8c8;
  --color-gray-70: #bababa;
  --color-gray-50: #939393;
  --color-gray-40: #7f7f7f;

  /* yellow scale */
  --color-yellow-900: #ff7c00;
  --color-yellow-800: #ffa800;
  --color-yellow-700: #ffc200;
  --color-yellow-600: #ffdb00;
  --color-yellow-500: #f8e800;
  --color-yellow-400: #fbed3f;
  --color-yellow-300: #fdf167;
  --color-yellow-200: #fff695;
  --color-yellow-100: #fffac0;
  --color-yellow-50: #fffde5;

  /* orange scale */
  --color-orange-900: #ea4b04;
  --color-orange-800: #f36803;
  --color-orange-700: #f97802;
  --color-orange-600: #ff8900;
  --color-orange-500: #ff9500;
  --color-orange-400: #ffa425;
  --color-orange-300: #ffb54c;
  --color-orange-200: #ffcb7f;
  --color-orange-100: #ffdfb1;
  --color-orange-50: #fff3e0;

  /* green scale */
  --color-success: #7ddc1e;
  --color-green-50: #d2ffa5;
  --color-green-dark: #438700;

  --color-background: #fafafa;

  /* calendar scale */
  --color-red: var(--color-orange-900);
  --color-orange: var(--color-orange-400);
  --color-yellow: var(--color-yellow-500);
  --color-green: var(--color-green-50);
  --color-blue: #6db8ff;
  --color-purple: #a991ff;
  --color-gray: var(--color-gray-400);

  /* font */
  --font-sans: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
  --font-righteous: "Righteous", cursive;

  /* gradients 그라데이션 */
  --gradient-rank: linear-gradient(to bottom, var(--color-yellow-600), var(--color-orange-400));

  /* shadows 그림자 */
  --shadow-sm: 4px 4px 4px 0px rgba(0, 0, 0, 0.05);
  --shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.15);
  --shadow-high: 6px 6px 6px 0px rgba(0, 0, 0, 0.1);
  --shadow-new: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}
